<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shu.jee.grandgallery.mapper.TUserMapper">


    <select id="likedPicture" resultType="java.lang.Integer">
        select count(*) from t_likes where user_id = #{userId} and picture_id = #{pictureId}
    </select>

    <select id="isFavourite" resultType="java.lang.Integer">
        select count(*) from t_favourites where user_id = #{userId} and picture_id = #{pictureId}
    </select>

    <select id="getFriends" resultType="java.lang.Integer">
        select user2_id from t_friends where user1_id = #{userId}
    </select>

    <insert id="addFriend">
        call add_friend(#{userId1},#{userId2})
    </insert>

    <delete id="deleteFriend">
        delete from t_friends where user1_id = #{userId1} and user2_id = #{userId2}
    </delete>

</mapper>
